# Tarea 3
__Curso:__ Aprendizaje Automático 2022 

__Programa:__ MCI/MIIIO/DIIIO/DISC

__Profesor:__ Gonzalo A. Ruz

__Ayudante:__ Carlos Sepúlveda

## Instrucciones
* La tarea es individual
* Por favor responder en este mismo notebook
* Renombrar el archivo agregando su nombre, por ejemplo tarea3_Contreras_Almada.ipynb
* Subir el archivo al link de entrega Trabajo en webcursos que será habilitado
* __Fecha de entrega:__ viernes 7 de octubre, 23:55 hrs.

Considere el dataset CallCenterData de la [publicación](https://www.sciencedirect.com/science/article/abs/pii/S0957417412004605) vista en clase.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
data = pd.read_csv('/content/drive/My Drive/Data/CallCenterData.csv') #actualizar con ruta propia

In [3]:
data.describe(include='all')

,ID,Edad,Sexo,NivelEducacion,EstadoCivil,NivelSocEco,HorasLogeadas,HorasHabladas,ContactosEfectivosPromedio,RegistrosTerminados,ProdMayorUbral
count,660.000000,660.000000,660,660,660,660,660.000000,660.000000,660.000000,660.000000,660
unique,NaN,NaN,2,4,2,5,NaN,NaN,NaN,NaN,2
top,NaN,NaN,f,em,s,c3c4,NaN,NaN,NaN,NaN,no
freq,NaN,NaN,340,345,489,386,NaN,NaN,NaN,NaN,351
mean,330.500000,32.034848,NaN,NaN,NaN,NaN,117.025260,41.113746,192.477960,467.773235,NaN
std,190.669872,8.970209,NaN,NaN,NaN,NaN,53.348341,25.310637,146.711340,312.863798,NaN
min,1.000000,19.000000,NaN,NaN,NaN,NaN,0.170000,0.013333,0.000000,0.000000,NaN
25%,165.750000,26.000000,NaN,NaN,NaN,NaN,79.197125,21.767312,84.625000,231.107143,NaN
50%,330.500000,29.500000,NaN,NaN,NaN,NaN,122.679417,37.665000,181.000000,440.500000,NaN
75%,495.250000,36.000000,NaN,NaN,NaN,NaN,160.650250,57.709000,270.558333,645.812500,NaN
max,660.000000,65.000000,NaN,NaN,NaN,NaN,258.400000,122.182500,1216.000000,1890.250000,NaN

Convierta los atributos categóricos a númericos

Codifique la variable de salida ProdMayorUbral, utilice: etiqueta __si__ codificada como 1, y etiqueta __no__ como 0.

Genere una partición 70% para entrenamiento y el 30% restante para prueba

## Pregunta 1
Entrene un clasificador naive Bayes usando sólo los atributos socio-demográficos. Luego evalúe en el conjunto de prueba generando el classification report.

### Respuesta:

## Pregunta 2
Lo mismo que la pregunta anterior pero usando sólo los atributos operacionales. Mejora el desempeño? argumente en función de las métricas de desempeño.

### Respuesta:

## Pregunta 3
Lo mismo que antes pero ahora considerando todos los atributos. Mejora el desempeño? Valdrá la pena usar todos los atributos realmente? argumente en función de las métricas de desempeño.

### Respuesta

## Pregunta 4
Qué ocurre si entrena un árbol de decisión usando todos los atributos. Luego evalúe en el conjunto de prueba generando el classification report. Mejora el desempeño? argumente en función de las métricas de desempeño.
Qué atributos aparecen en el árbol resultante?

### Respuesta

## Pregunta 5
Entrene un clasificador naive Bayes usando los atributos que aparecen en el árbol de decisión.  Luego evalúe en el conjunto de prueba generando el classification report. Mejora el desempeño al comparar los resultados de las preguntas 1, 2, y 3? argumente en función de las métricas de desempeño.

### Respuesta

## Suerte!